{% extends 'ui/base.html' %}
{% load static %}
{% block navbar %}
{% if request.GET.modal != 'Y' %}
  {{ block.super }}
{% endif %}
{% endblock %}
{% block content %}
<style>
  #nik{
    height: 45px;
    margin-top:20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #password{
    height: 45px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
</style>
<div class="background-login">
<div class="container content">
    <div class="row justify-content-center">
        <div class="col-9 col-md-6 col-lg-4 text-center" style="margin-top:7vh;">
          <img style="width:250px;margin: auto 15%;" src="{% static 'nest.png' %}">
            {% include "ui/alert.html" %}
            <form method="post" class="form px-5 pt-3 pb-5">
              <h3 class="text-dark">Please sign in</h3>
              {% csrf_token %}
                {{ form.nik }}
                {{ form.password }}
                <br><button type="submit" class="btn btn-primary btn-lg mt-2 col" style="padding: 0.35rem 2rem;">Sign-in</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
  {{ block.super }}
  <script>
    $(document).ready(function(){

      $("#msg-alert").fadeTo(2000, 500).slideUp(500, function(){
          $("#msg-alert").slideUp(500);
      });

    });
  </script>
{% endblock %}
