{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<script src="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}" ></script>
<script >
$( function() {
  $( ".datetimeinput" ).datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    yearRange: '1980:' + new Date().getFullYear().toString()
  });
  $( ".dateinput" ).datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    yearRange: '1980:' + new Date().getFullYear().toString()
  });
} );
</script>
