<div class="footer">
    <div class="container">
        <div class="row">
            <div class="px-0 col-lg-6 col-md-12 col-sm-12 pull-left">
                © 2019  |  NUSANTARA TURBIN DAN PROPULSI
            </div>
            <div class="px-0 col-lg-6 col-md-12 col-sm-12 pull-right" style="align:right;">
                <a href="https://www.instagram.com/ntpindonesia/" target="_blank">instagram</a>   |
                <a href="https://twitter.com/ntpindonesia" target="_blank">twitter</a>   |
                <a href="https://www.youtube.com/channel/UCsPzFI3Lqj_KC7o51_uKmCg" target="_blank">youtube</a>   |
                <a href="http://www.umcntp.co.id/" target="_blank">website</a>
            </div>
        </div>
    </div>
</div>
